{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [".eslintrc-auto-import.json", "code-style-lint-react-ts"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
